{% extends 'events/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<center>
     
   <h1>Add a Venue to Our Database</h1>
   <br><br>
   {% if submitted %}
        Your Venue was successfully submitted
   {% else %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
            <input type="submit" class="btn btn-success">
        </form>
   {% endif %}

   {% else %}
   <h2>You must be logged in to view this page</h2>
   <a href="{% url 'login_user' %}">Login here</a>
  
</center>
{% endif  %}
{% endblock %}