{% extends 'events/base.html' %}
{% block content %}
<br>
<h1>Admin Dashboard</h1>
<br>
<div class="card">
    
    <div class="card-body">
      <h5 class="card-title">Event, Venue, and User Counts</h5>
      <p class="card-text">Event count: {{event_count}}</p>
      <p class="card-text">Venue count: {{venue_count}}</p>
      <p class="card-text">User count: {{user_count}}</p>
     
    </div>
  </div>

<br><br>

<form action="" method="POST">
{% csrf_token %}
<h1>Event Approval Form</h1>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Approved</th>
      </tr>
    </thead>
    <tbody>
    {% for event in event_list %}    
    <tr>
    <td>
        {{event}}
    </td>
    <td>
        {% if event.approved %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" checked = "checked" value="{{event.id}}" name="boxes">
        </div>
        {% else %}
        <input type="checkbox" class="form-check-input"  value="{{event.id}}" name="boxes">

        {% endif %}
    </td>
{% endfor %}
</tbody>
</table>
<button class="btn btn-secondary" type="submit">Update Approval</button>
</form>

{% endblock %}