{% extends 'events/base.html' %}
{% block content %}
<br><br>
<div class="card">
<div class="card-header">
   {% if searched %}
    You searched for: {{searched}}
    {% else %}
    Search events...
   {% endif %}
</div>
<div class="card-body">
<form role="search" method="POST" action="{% url 'search_events' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search" name="searched">
    <br>
    <button class="btn btn-outline-success" type="submit">Search</button>
  
  </form>


</div>  
<br><br>

{% for event in events %}
<div class="card">
    <div class="card-header">
        <strong>{{ event }}</strong>
    </div>
</div>

    <div class="card-body">
      <h5 class="card-title">Venue: {{ event.venue }}</h5>
      <p class="card-text">
        
            <strong>Date:</strong> {{ event.event_date }} <br>
            
            <strong>Website:</strong> {{ event.venue.web }}<br>
            <strong>Manager:</strong> {{ event.manager }}<br>
            <strong>Description:</strong> {{ event.description }} <br>
            <strong>
                Attendees: <br>
            </strong>
                {% for user in event.attendees.all %}
                    {{ user }} <br>
                {% endfor %}
            
        
      </p>
      {% if user.is_authenticated %}
        {% if user == event.manager %}
          <a href="{% url 'update_event' event.id %}" class="btn btn-outline-success">Update Event</a>
          <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger">Delete Event</a>
        {% endif %}
      {% endif %}
    </div>
  
  
{% endfor %}


    
  

{% endblock %}