{% extends 'events/base.html' %}
{% block content %}

{% if searched %}
{% for venue in venues %}

<div class="card">
    <div class="card">
        <div class="card-header">
            <strong>Venue</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{venue}}</h5>
          <p class="card-text">
                <ul>
                {% if venue.web %}
                    <li>Website: {{ venue.web }}</li>
                {% endif %}

                {% if venue.address %}
                    <li>Address:{{venue.address}}</li> 
                {% endif %}

                {% if venue.zip_code %}
                    <li>Zip Code: {{venue.zip_code}}</li>
                {% endif %}

                {% if venue.email %}
                    <li>Email: {{venue.email}}</li>
                {% endif %}

                {% if venue.owner %}
                    <li>Owner ID:{{ venue.owner }}</li>
                {% endif %}
                </ul>
            </p>
        </div>
      </div>
</div>
    
{% endfor %} 
{% endif %}

{% endblock %}