{% extends 'events/base.html' %}
{% block content %}
<br><br>
<div class="card">
    <div class="card">
        <div class="card-header">
            <strong>Venue</strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{venue}}</h5>
          <p class="card-text">
                <ul>
                <li>Website: {{ venue.web }}</li>
                <li>Address:{{venue.address}}</li> 
                <li>Zip Code: {{venue.zip_code}}</li>
                <li>Email: {{venue.email}}</li>
                <li>Owner:{{ venue_owner }}</li>
                <li>Owner's Email:{{ venue_owner.email }}</li>

            </ul>
            <br>
            {% if venue.venue_image %}
                <img class="img-fluid" src="{{ venue.venue_image.url }}" alt="">
            {% endif %}
        </div>

{% if events %}
        <h3>Events at this venue:</h3>
        {% for event in events %}
        <a href="{% url 'show_event' event.id %}">{{event}}</a>
        <br>
        {% endfor %}
      </div>
{% else %}
No events scheduled at this time
{% endif %}
</div>


{% endblock %}